/**
 * @name cyberpunk_2077
 * @description 🤖 cyberpunk_2077 themee for BetterDiscord
 * @author rootkill
 * @version 1
 * @website https://github.com/rootkill-g/cyberpunk_2077/tree/main/BetterDiscord/cyberpunk_2077
 * @source https://raw.githubusercontent.com/rootkill-g/cyberpunk_2077/master/BetterDiscord/cyberpunk_2077/cyberpunk_2077.theme.css
 * @updateUrl https://raw.githubusercontent.com/rootkill-g/cyberpunk_2077/master/BetterDiscord/cyberpunk_2077/cyberpunk_2077.theme.css
**/

@import url("https://github.com/rootkill-g/cyberpunk_2077/blob/main/BetterDiscord/cyberpunk_2077/Font/Stylesheet.css");
@import url("https://github.com/rootkill-g/cyberpunk_2077/blob/main/BetterDiscord/cyberpunk_2077/cyberpunk_2077.css");

:root {
    --color-high: rgb(51, 51, 51);
    --color-lowest: rgb(255, 255, 255);
    --color-low: rgb(184, 217, 209);
    --color-mid: rgb(122, 153, 145);
    --color-alert: rgb(118, 0, 39);
    --color-alert-hover: rgb(154, 0, 51);
    --color-high-trans: rgba(0, 0, 0, 0.8);
    --color-low-trans: rgba(184, 217, 209, 0.6);
    --color-alert-trans: rgba(229, 0, 77, 0.7);
    --font: BlenderProBold;
}
