/**
 * @name cyberpunk_2077
 * @description 🤖 cyberpunk_2077 themee for BetterDiscord
 * @author rootkill
 * @version 1
 * @website https://github.com/rootkill-g/cyberpunk_2077/tree/main/BetterDiscord/cyberpunk_2077
 * @source https://raw.githubusercontent.com/rootkill-g/cyberpunk_2077/master/BetterDiscord/cyberpunk_2077/cyberpunk_2077.theme.css
 * @updateUrl https://raw.githubusercontent.com/rootkill-g/cyberpunk_2077/master/BetterDiscord/cyberpunk_2077/cyberpunk_2077.theme.css
**/

@import url("https://rootkill-g.github.io/cyberpunk_2077/BetterDiscord/cyberpunk_2077/Font/Stylesheet.css");
@import url("https://rootkill-g.github.io/cyberpunk_2077/BetterDiscord/cyberpunk_2077/cyberpunk_2077.css");

:root {
    --color-high: rgba(0, 0, 0, 0.7);
    --color-lowest: rgb(255, 255, 255);
    --color-low: rgb(252, 238, 10);
    --color-mid: rgb(2, 216, 243);
    --color-alert: rgb(255, 74, 87);
    --color-alert-hover: rgb(255, 74, 87);
    --color-high-trans: rgba(0, 0, 0, 0.8);
    --color-low-trans: rgba(2, 216, 243, 0.6);
    --color-alert-trans: rgba(255, 74, 87, 0.7);
    --font: JetBrains Mono;
}
