#inner-box{
	margin: 10px;
}

#window {
	border: 2px solid #fcee0a;
	background-color: rgba(0, 0, 0, 0.9);
}

#text {
	font-family: "JetBrains Mono";
  font-weight: 500;
	font-size: 18px;
  padding: 0 0 0 20px;
}

#text:selected {
	color: #000000;
}

#input {
	color: #00ff9f;
  margin: 10px;
	border: 2px solid #ff4a57;
	border-radius: 0px;
	background-color: rgba(0, 0, 0, 0.9);
  font-family: "SF Mono";
  font-weight: 500;
	font-size: 18px;
}

#outer-box {
	margin: 10px;
}

#scroll {
  font-family: "JetBrains Mono";
  font-weight: 500;
	font-size: 18px;
	color: #fcee0a;
}

#scroll label {
	margin: 0px;
}

#entry {
	margin: 5px 0px;
}

#entry:selected {
	background-color: #fcee0a;
  border-radius: 0px;
}
